/*
Selector {
	Property: value;
}
*/
 
*{
	text-align:right;
}

body {
	background-image: url(../background-image.jpg);
	background-size:cover;
}

h1 {
	background:white;
	text-align:center;
}


p {
	text-decoration: underline;
	font-size: 10px;
	color:green;
}

li {
	list-style: none;
	display: inline-block;
}

img{
	float:left;
}

footer{
	/*Makes sure that the footer stays the bottom without wrapping around the picture*/
	clear: both;
}